<ion-header>
  <ion-toolbar>
    <ion-title>Wedstrijd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 <ion-grid>
		<ion-row>
			<ion-col size="6"><strong>Gepland :</strong></ion-col> 
			<ion-col size="5">{{game.strscheduleddate}} {{game.strscheduledtime}}</ion-col> 
		</ion-row>
		<ion-row>
			<ion-col size="6"><strong>Baan :</strong></ion-col> 
			<ion-col size="5">{{game.court}} </ion-col> 
		</ion-row>
		<ion-row>
			<ion-col size="9">{{game.player1_firstname}} {{game.player1_lastname}}</ion-col> 
			<ion-col size="2">{{game.displaygame1}}</ion-col> 
		</ion-row>
		<ion-row>
			<ion-col size="9">{{game.player2_firstname}} {{game.player2_lastname}}</ion-col> 
			<ion-col size="2">{{game.displaygame2}}</ion-col> 
		</ion-row>
	</ion-grid>
  <form  #form="ngForm" (ngSubmit)="submitGame(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="2" size-lg="2" size-xs="8">
          <div padding>
            <ion-item>
				<ion-input  name="inputdate" type="date" placeholder="{{game.strplayeddate}}" ngModel required></ion-input>
            </ion-item>
            <ion-item>
				<ion-input  name="inputtime" type="time" placeholder="{{game.strplayedtime}}" ngModel required></ion-input>
            </ion-item>
            <ion-item>
				<ion-input name="games1" type="number" placeholder="{{game.games1}}" ngModel required></ion-input>
            </ion-item>
            <ion-item>
				<ion-input name="games2" type="number" placeholder="{{game.games2}}" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Doorvoeren</ion-button>

          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
